* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #f8f6f4;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 40px;
}

.footer .logo img {
  height: 132px;
}

.footer_wrap address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px 0 24px 0;
}

.footer_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_menu .link {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 60px;
  text-align: center;
  padding: 26px 25px;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer_menu .link a {
  text-decoration: none;
  color: #725a58;
  font-size: 20px;
  font-family: "Baskervville", sans-serif;
}

.footer_menu ul li a {
  position: relative;
}

.footer_menu li a::before {
  content: "";
  width: calc(100% - 1px);
  height: 1.3px;
  background-color: rgb(114, 90, 88);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.3s;
}

.footer_menu li a:hover::before {
  transform: scaleX(1);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-family: "Lato", sans-serif;
  color: #725a58;
  font-size: 14px;
  padding: 24px 0 40px 0;
}

@media screen and (min-width: 880px) {
  .footer_menu .link {
    grid-template-columns: repeat(7, 1fr);
    white-space: nowrap;
    padding: 26px 0;
  }
}
