@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+KR:wght@200..900&family=Oswald:wght@200..700&family=SUSE:wght@100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.firstMain {
  background-image: url(../img/home_main.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 625px;
}

.firstMain .container {
  text-align: center;
  padding: 267px 0 101px 0;

  font-style: normal;
  color: white;
}

.firstMain .container img {
  width: 607px;
  height: 98px;
}

.firstMain .container p {
  font-family: "Lato", sans-serif;
  padding: 46px 0;
  font-size: 18px;
  font-weight: 300;
}

.firstMain .container .consultation {
  margin: 0 auto;
  width: 222px;
  height: 62px;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.firstMain .container .consultation a {
  text-decoration: none;
  color: white;

  font-family: "Baskervville", sans-serif;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 400;
}

.firstMain .message_img {
  width: 60px;
  height: 60px;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 0;
  top: 80%;
}

.firstMain .message_img img {
  width: 41px;
  height: 41px;
}

/* 
@media screen and (min-width: 1200px) {
  .main_img {
    width: 100%;
  }
} */
